/*
* @Author: cat
* @Date:   2017-11-10 10:37:56
* @Last Modified by:   cat
* @Last Modified time: 2017-12-02 13:30:54
*/
@import url('base.css');
body,h1,h2,h3,h4,h5,h6,input,form{
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
}
body{
	font-size: 12px;
}
image{
	display: block;
}
input{
	display: block;
}
a{
	display: block;
	text-decoration: none;
}
.box{
	width: 100%;
	height: 667px;
	background: #F5F5F5;
}
.box .top{
	width: 100%;
	height: 44px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top .tpleft{
	width: 23px;
	height: 23px;
	/* background: black; */
	margin-left: 3px;
}
.top .tpleft a{
	width:100%;
	height: 100%;
	font-size: 23px;
	color: #FF3C3C;
}
.top .tpcenter{
	width: 50%;
	height: 44px;
	/* margin: 0 auto; */
	line-height: 44px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
}
.top .tpright{
	width: 52px;
	height: 30px;
	/* background: black; */
	margin-right: 8px;
}
.top .tpright a{
	display: block;
	height: 100%;
	height: 100%;
}
.top .tpright input{
	width: 52px;
	height: 30px;
	border-radius: 3px;
}
/* 登陆 */

.box .delu{
	width: 375px;
	height: 132px;
	margin-top: 44px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
}
.box .delu form{
	width: 100%;
	height: auto;
}
.box .delu .zm{
	width: 100%;
	height: 33.333333%;
	/* background: yellow; */
	
}
.box .delu .tou{
	width: 42px;
	height: 44px;
	/* background: black; */
	float: left;
	margin-left: 27px;
	color: #666666;
	font-size: 24px;
	text-align: center;
	line-height: 44px;
}
.box  .delu .shuru{
	width: 278px;
	height: 43px;
	background: red;
	float: left;
}
.box  .delu .shuru input{
	width: 278px;
    height: 43px;
    /* padding: 12px 30px 11px 0; */
    font-size: 14px;
   
}
.box .jizhu{
	width: 290px;
	height: 30px;
	margin: 20px auto 0;
	/* background: red; */
	display: flex;
	justify-content: space-between;
}
.box .jizhu .jzz{
	width: 110px;
	height: 30px;
	/* background: pink; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background: red; */
}
.box .jizhu .jzz input{
	width:20px; 
	height:20px;
	border-radius: 8%;
	background: #8AB746;
	color: red;
}
.box .jizhu .jzz input::selection{
	background: #8AB746;
	color: #fff;
}
.box .jizhu .jzy{
	width: 150px;
	height: 30px;
}
.box .jizhu .jzy .wgji a{
	width: auto;
	height: 100%;
	color: #07A5FF;
	line-height: 30px;
	float: right;
	font-size: 14px;

}
.box .anniu{
	width: 100%;
	height: 44px;
	margin-top: 22px;
}
.box .anniu input{
	width: 290px;
	height: 44px;
	margin: 0 auto;
	background: #FF3C3C;
	color: #fff;
	border-radius: 5px;
}
.box .duxin{
	width: 375px;
	height: 20px;
	margin-top: 25px;
    text-align: center;
   /*  background: #ccc; */
}
.box .duxin a{
	font-size: 14px;
	line-height: 20px;
	color: #07A5FF;
}
.box .hezuo{
	width: 375px;
	height: 75px;
	margin: 20px 0;
	/* background: #ccc; */

}
.box .hezuo h2{
    line-height: 20px;
    color: #666;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
}
.box .hezuo h2::before{
	content: "";
	display: block;
	width: 139px;
	height: 1px;
	background: #A2A2A2;
	float: left;
	margin-top: 10px;
}
.box .hezuo h2::after{
	content: "";
	display: block;
	width: 139px;
	height: 1px;
	background: #A2A2A2;
	float: right;
	margin-top: 10px;
}
.box .hezuo .tubiao{
	width: 275px;
	height: 34px;
	margin: 0 auto;
	/* background: red; */
	margin-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	justify-content: space-between;
}
.box .hezuo .tubiao div:nth-child(1){
	font-size: 34px;
	color: #DD2E37;
}
.box .hezuo .tubiao div:nth-child(2){
	font-size: 34px;
	color: #00B2EE;
}
.box .hezuo .tubiao div:nth-child(3){
	font-size: 34px;
	color: #10A8FF;
}
.box .hezuo .tubiao div:nth-child(4){
	font-size: 34px;
	color: #C81825;
}